// Extra small screen / mobile
$screen-xs: 480px;
// Small screen / tablet
$screen-sm: 576px;
// Medium screen / desktop
$screen-md: 768px;
// Large screen / wide desktop
$screen-lg: 992px;
// Extra large screen / full hd
$screen-xl: 1200px;
// extra extra large screen
$screen-xxl: 1600px;
